<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body>
    <%- include('header2.ejs') -%>
    <div class="about-page">
        <div class="about-top">
            <div class="text">
                <h1 class="heading">About Us</h1>
                <h2 class="sub-heading">We are Creative Tech Enthusiast working since 2015</h2>
              
            </div>
            <div class="img">
                <img src="/images/chimney.webp" alt="">
            </div>
           
        </div>
        <div class="about-bottom">
            <div class="main-text">
                <h1 class="trust-line">Your Trusted Partner for Quality Hardware and Building Materials in the UAE</h1>

                <p class="para">Welcome to Alnakiya, your premier destination for top-notch hardware and building materials in the United Arab Emirates (UAE). We take pride in being a trusted name in the industry, offering a comprehensive range of products to meet all your construction and renovation needs.
                    <br><br>

                    Established with a vision to deliver excellence, Alnakiya has quickly risen to prominence as a preferred supplier for contractors, developers, and homeowners alike. Our commitment to quality, reliability, and customer satisfaction sets us apart in the market.
                    <br> <br>
                    
                    At Alnakiya, we understand the importance of using high-quality materials for every project. That's why we source our products from leading manufacturers known for their superior craftsmanship and durability. Whether you're undertaking a small DIY project or a large-scale construction endeavor, you can trust us to provide materials that meet the highest standards.
                    <br><br>
                    Our extensive product catalog encompasses everything from structural components to finishing touches. From premium hardware such as locks, hinges, and fasteners to a wide array of building materials including cement, steel, bricks, and tiles, we have everything you need to bring your vision to life.
                    <br><br>
                    What truly sets Alnakiya apart is our unwavering commitment to customer satisfaction. Our knowledgeable team is dedicated to providing personalized service, assisting you every step of the way – from product selection to delivery and beyond. We understand the unique requirements of each project and strive to offer tailored solutions that meet your specific needs and budget.
                    <br><br>
                    Convenience is key at Alnakiya. With multiple locations conveniently situated across the UAE, accessing our products and services is always hassle-free. Additionally, our user-friendly online platform makes it easy to browse our catalog, place orders, and track deliveries from the comfort of your home or office.
                    <br><br>
                    Whether you're embarking on a new construction project, renovating your home, or simply in need of quality hardware and building materials, trust Alnakiya to deliver excellence every time. Experience the difference with Alnakiya – your trusted partner for all your hardware and building material needs in the UAE.</p>
                     <a href="/contact">
                    <button>Contact Us</button>
                </a>
            </div>
            <div class="sub-img">
                <img src="/images/chimney.webp" alt="">
                <img src="/images/chimney.webp" alt="">
            </div>
        </div>
    </div>
    <%- include('footer.ejs') -%>
    
</body>
</html>