<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/get_started.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


</head>
<body>
    <form action="/Enquiry" id="forminput" method="post">
    </form>

    <%- include('header2.ejs') -%>
    <div class="get-started-page">
        <div class="get-started">
            <div class="main-box">
                <h1>Enquiry Now</h1>
                <div class="child-box">
                    <div class="input">
    
                        
         
                        <div class="form-group">
                         <label for=""></label>
                         <input form="forminput"  class="input" type="email" name="email" placeholder="Enter Your Email" required>
                        </div>
         
                        <div class="form-group">
                         <label for=""></label>
                         <input form="forminput" class="input" type="text" name="phone" placeholder="Phone Number" required>
                        </div>
         
                        <div class="form-group">
                         <label for=""></label>
                         <input form="forminput" class="input" type="text" name="wattsupNo" placeholder="Enter Your Wattsup Number">
                        </div>
         
                        <div class="form-group">
                         <label for=""></label>
                         <input form="forminput" class="input" type="text" name="address" placeholder="Enter Your Address" required>
                        </div>
         
                       
                        <a href="">
                         <button form="forminput" class="button">Submit Details</button>
                        </a>
                     </div>
                     <div class="image">
                        <img src="/images/image1.jpg" alt="">
                     </div>
                </div>
               
            </div>
        </div>
    </div>
    <%- include('footer.ejs') -%>
</body>
</html>