<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get-Started</title>

    <link rel="stylesheet" href="/stylesheets/get_started.css">
    <link rel="stylesheet" href="/stylesheets/header.css">

    <!-- footer icons link -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body>
 <div class="get-started-page">
    <%- include('header2.ejs') -%>
    <div class="get-started">
        <div class="main-box">
            <h1>GET- STARTED</h1>
            <div class="child-box">
                <div class="input">

                    <div class="form-group">
                     <label for=""></label>
                     <input class="input" type="text" name="name" placeholder="Name">
                    </div>
     
                    <div class="form-group">
                     <label for=""></label>
                     <input  class="input" type="email" name="email" placeholder="Email">
                    </div>
     
                    <div class="form-group">
                     <label for=""></label>
                     <input  class="input" type="text" name="phone" placeholder="Phone Number">
                    </div>
     
                    <div class="form-group">
                     <label for=""></label>
                     <input  class="input" type="text" name="product" placeholder="Product Name">
                    </div>
     
                    <div class="form-group">
                     <label for=""></label>
                     <input  class="input" type="text" name="name" placeholder="name">
                    </div>
     
                    <div class="form-group">
                     <label for=""></label>
                     <textarea  class="textarea" name="" placeholder="message" ></textarea>
                    </div>
     
                    <a href="">
                     <button class="button">Submit Details</button>
                    </a>
                 </div>
                 <div class="image">
                    <img src="/images/chimney.webp" alt="">
                 </div>
            </div>
           
        </div>
    </div>
 </div>
   <%- include('footer.ejs') -%>
</body>
</html>