<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get-Started</title>

    <link rel="stylesheet" href="/stylesheets/get_started.css">
    <link rel="stylesheet" href="/stylesheets/header.css">

    <!-- footer icons link -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body>
 <div class="get-started-page">
    <%- include('header2.ejs') -%>
    <div class="get-started">
        <div class="main-box">
            <div class="input-details">
                <div class="input-left"></div>
                <div class="input-right"></div>
            </div>
            <div class="input-message"></div>
        </div>
    </div>
 </div>
   <%- include('footer.ejs') -%>
</body>
</html>