<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
    />
</head>
<body>
    <div class="nav-bar">
        <div class="top-nb">
            <a href="">About</a>
            <a href="">Blogs</a>
            <a href="">Recent news</a>
            <a href="">Contact</a>
        </div>
        <div class="bottom-nb">
            <h1>BUILDINGMATERIAL</h1>
            <div class="login">
                <div class="signup">
                    <div class="search-box">
                      <input type="text" placeholder="search">
                      <i class="ri-search-line"></i>

                    </div>
                    <a href="">signup</a>
                </div>
                <div class="login">
                    <i class="ri-briefcase-line"></i>
                    <a href="">login</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>