<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
    />
</head>
<body>
    <div class="nav-bar">
        
        <div class="bottom-nb">
            <div class="desktop-link">
                <div class="link">
                    <a href="/">Home</a>
                    <a href="">About</a>
                    <a href="">Contact</a> 
                </div>
                <div class="search-box">
                  <h1>BUILDINGMATERIAL</h1>
                    
                </div>
                <div class="login">
                        <a href="">sign-up</a>
                        <a href="">sign-in</a>
                </div>
                <div class="icons">
                    <i id="menuBtn" class="ri-menu-line"></i>
                   </div>
                   <div class="togle-link">
                    <a href="">About</a>
                    <a href="">Contact</a> 
                    <a href="">signup</a>
                    <a href="">login</a>
                </div>
            </div>
                
                
            
           
        </div>
    </div>
    <script>

        var menutoggle = document.querySelector('.desktop-link .icons #menuBtn');
        var toggle = document.querySelector('.togle-link');
         var flag = 0;
         menutoggle.addEventListener('click', function(e){
            0 === flag ? (toggle.style.display = "flex", flag = 1) : (toggle.style.display = "none", flag = 0)
         })


    </script>
</body>
</html>