<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
    />
</head>
<body>
    <div class="nav-bar">
        <div class="top-nb">
            <h1>BUILDINGMATERIAL</h1>
        </div>
        <div class="bottom-nb">
            <div class="desktop-link">
                <div class="link">
                    <a href='/about'>About</a>
                    <a href='/contact'>Contact</a> 
                </div>
                <div class="search-box">
                    <form id="searchForm">
                      <input
                        type="text"
                        id="searchInput"
                        name="q"
                        onchange="newf()"
                        placeholder="Search products..."
                      />
                    </form>
                    <ul id="searchResults">
                    </ul>
                </div>
                <div class="login">
                    <!-- <div class="signup"> -->
                        <!-- <a href="">sign-up</a> -->
                    <!-- </div> -->
                    <!-- <div class="login"> -->
                        <!-- <i class="ri-briefcase-line"></i> -->
                        <!-- <a href="">sign-in</a> -->
                    <!-- </div> -->
                </div>
                <div class="icons">
                  <i class="ri-menu-line"></i>
                 </div>
                 <div class="togle-link">
                  <a href='/about'>About</a>
                  <a href='/contact'>Contact</a> 
                  <!-- <a href="">signup</a> -->
                  <!-- <a href="">login</a> -->
              </div>
            </div>
                
              
            
           
        </div>
    </div>
    <script>

        var menutoggle = document.querySelector('.desktop-link> .icons>i');
        var toggle = document.querySelector('.togle-link');
         var flag = 0;
         menutoggle.addEventListener('click', function(){
            0 === flag ? (toggle.style.display = "flex", flag = 1) : (toggle.style.display = "none", flag = 0)
         })

    </script>
    <script>


// function newf(event) {
//     var news = document.getElementById("searchInput").value;
//     const searchTerm = news.trim();
//     const searchResults = document.getElementById("searchResults");

//     fetch(`/search/${searchTerm}`)
//       .then((response) => response.json())
//       .then((data) => {
//         // Clear previous results
//         searchResults.innerHTML = "";

//         console.log("data", data)
//         // Display search results
//         data.forEach((product) => {
//           const anchorElement = document.createElement("a");
//           anchorElement.href = "/product/"+product.shop_id; // Set the href attribute

//           const listItem = document.createElement("li");
//           listItem.textContent = product.name;

//           anchorElement.appendChild(listItem); // Append list item to anchor element
//           searchResults.appendChild(anchorElement);
//         });
//       })
//       .catch((error) => console.error("Error:", error));
// }

// document.getElementById("searchInput").addEventListener("input", newf);

function newf(event) {
    var news = document.getElementById("searchInput").value;
    const searchTerm = news.trim();
    const searchResults = document.getElementById("searchResults");

    // Clear previous results
    searchResults.innerHTML = "";

    if (searchTerm === "") {
        const defaultAnchorElement = document.createElement("a");
        defaultAnchorElement.textContent = "";
        searchResults.appendChild(defaultAnchorElement);
    } else {
        fetch(`/search/${searchTerm}`)
          .then((response) => response.json())
          .then((data) => {
            // Display search results
            data.forEach((product) => {
              const anchorElement = document.createElement("a");
              anchorElement.href = "/product/"+product.shop_id; // Set the href attribute

              const listItem = document.createElement("li");
              listItem.textContent = product.name;

              anchorElement.appendChild(listItem); // Append list item to anchor element
              searchResults.appendChild(anchorElement);
            });
          })
          .catch((error) => console.error("Error:", error));
    }
}

document.getElementById("searchInput").addEventListener("input", newf);

    </script>
</body>
</html>