<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/popup.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


</head>
<body>
    <!-- <div id="popup-box" class="popup">
        <div class="popup-content">
            <div class="popup-img">
                <img src="./images/chimney.webp" alt="">
            </div>
            <div class="popup-text">
                <span class="close-btn" onclick="closePopup()">&times;</span>
                <h2>Welcome to Our Website!</h2>
                <h5>Enter your email to get a code for
                10% off—plus news about exciting launches and inspiration in your inbox.</h5>
                <input type="email" placeholder="Enter Your Email"> <br>
                <p>By signing up, you agree to our Terms and Privacy Policy. You may update your preferences or unsubscribe with Semihandmade at any time.</p> <br>
                <a href="">
                    <button>sign-up</button>
                </a>
            </div>
        </div>
    </div> -->
    <%- include('header.ejs') -%>
    <div class="main" id="main">
          
       
        <div class="option-nav">
            <h4>Door Fitting And Handles</h4>
            <h4>Power Tools</h4>
            <h4>Hinges & Aldrops</h4>
            <h4>Chimni</h4>
            <h4>Moduler Kitchen Accessories</h4>
        </div>

        <div class="video">
            <video autoplay muted loop src="/videos/video (2).mp4"></video>
            <div class="v-text">
                <h1>Cabinets And Cabinet Doors</h1>
                <h4>FOR EVERY STYLE AND ANY BUDGET</h4>
                <a href="/shop">
                    <button>View More</button>
                </a>
                

            </div>
        </div>

        <div class="slider">
            <div class="slider-slide">
                <div class="img-box-first">
                    <img src="/images/chimney.webp" alt="">
                    <h1>Chimney</h1>
                </div>
                <div class="img-box-first">
                    <img src="/images/image2.jpg" alt="">
                    <h1>Kitchen <br> Accessories</h1>
                </div>
                <div class="img-box-first">
                    <img src="/images/image1.jpg" alt="">
                    <h1>Door Fitting <br> And Handles</h1>
                </div>
                <div class="img-box-first">
                    <img src="/images/chimney.webp" alt="">
                    <h1>Chimney</h1>
                </div>
                <div class="img-box-first">
                    <img src="/images/image2.jpg" alt="">
                    <h1>Kitchen <br> Accessories</h1>
                </div>
                <div class="img-box-first">
                    <img src="/images/image1.jpg" alt="">
                    <h1>Door Fitting <br> And Handles</h1>
                </div>
             
                
            </div>
            <div class="slider-slide">
                <div class="img-box-first">
                    <img src="./images/chimney.webp" alt="">
                    <h1>Chimney</h1>
                </div>
                <div class="img-box-first">
                    <img src="./images/image2.jpg" alt="">
                    <h1>Kitchen <br> Accessories</h1>
                </div>
                <div class="img-box-first">
                    <img src="./images/image1.jpg" alt="">
                    <h1>Door Fitting <br> And Handles</h1>
                </div>
                <div class="img-box-first">
                    <img src="./images/chimney.webp" alt="">
                    <h1>Chimney</h1>
                </div>
                <div class="img-box-first">
                    <img src="./images/image2.jpg" alt="">
                    <h1>Kitchen <br> Accessories</h1>
                </div>
                <div class="img-box-first">
                    <img src="./images/image1.jpg" alt="">
                    <h1>Door Fitting <br> And Handles</h1>
                </div>
             
                
            </div>
            
        </div>

        <div class="box">
            <div class="left-box">
                <img src="/images/modular kitchen.jpg" alt="">
                <div class="child-box">
                    <h1>ESTIMATE YOUR COST</h1>
                    <h5>Tell us about your project and we’ll give you an estimate for your Semihandmade cabinet doors.</h5>
                    <a href="/get-started">
                        <button class="btn">GET STARTED</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="chat-box">
            <div class="chat-child">
                <h1>We’d love to chat</h1>
                <h4>VISIT A SHOWROOM</h4>
                <h4>BOOK A VIRTUAL<br>APPOINTMENT</h4>
            </div>
        </div>

        <div class="slider">
            <div class="slide-3d">
                <div class="img-box">
                    <img src="./images/image2.jpg" alt="">
                    <h1>Product-01</h1>
                </div>
                <div class="img-box">
                    <img src="./images/image1.jpg" alt="">
                    <h1>Product-02</h1>
                </div>
                <div class="img-box">
                    <img src="./images/chimney.webp" alt="">
                    <h1>Product-03</h1>
                </div>
            </div>
            <div class="slide-3d">
                <div class="img-box">
                    <img src="./images/image2.jpg" alt="">
                    <h1>Product-01</h1>
                </div>
                <div class="img-box">
                    <img src="./images/image1.jpg" alt="">
                    <h1>Product-02</h1>
                </div>
                <div class="img-box">
                    <img src="./images/chimney.webp" alt="">
                    <h1>Product-03</h1>
                </div>
            </div>
            
        </div>

        
      <%- include('footer.ejs') -%>


       
    </div>
  
    <script src="/javascripts/script.js"></script>
</body>
</html>


<!--  -->