@font-face {
    font-family: gilroy;
    src: url("/fonts/Assistant-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
.get-started-page{
    width: 100%;
    /* height: 100%; */
    background-color: rgb(255, 255, 255);
}
.get-started{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-box{
    margin: 2vmax 0vmax;
    font-family: gilroy;
    background-color: white;
    box-shadow: 13px 13px 28px #cac9c9, -13px -13px 28px #ffffff;
    padding: 2vmax;
    /* height: 70vh; */
    /* width: 60vw; */
  
}
.main-box .success{
    color: green;
}
.main-box .child-box{
    display: flex;
    gap: 2vmax;
    /* width: 100%; */
    /* height: 100%; */
    padding: 1vmax;
}
.child-box .input{
    /* width: 50%; */
    /* height: 100%; */
    /* background-color: lightgreen; */
}
.child-box .image{
   display: flex;
   justify-content: center;
   align-items: center;
    /* background-color: rgb(59, 143, 160); */
}
.image>img{
    width: 25vw;
    height: 50vh;
}
.form-group{
    /* background-color: red; */
    margin-top: 2vmax;
    width: 30vw;
    border-bottom: 1px solid rgba(145, 134, 134, 0.41);
}
.form-group input[type="text"], input[type="email"]{
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
}
.main-box>h1{
    text-align: center;
}
.textarea{
    margin-top: 2vmax;
    width: 100%;
    border: none;
    outline: none;
}

.input .button{
    cursor: pointer;
    font-size: 1vmax;
    margin-top: 2vmax;
    padding: .7vmax 2vmax;
    border: none;
    border-radius: 10px;
    box-shadow: 
    6px 6px 12px -2px rgba(57, 70, 94, 0.5),
    -6px -6px 12px -2px rgba(255, 255, 255, 0.5);    transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
}
.input .button:hover{
    scale: 1.1;
    box-shadow: 
    8px 8px 16px -2px rgba(156, 165, 183, 0.8),
    -8px -8px 16px -2px rgba(255, 255, 255, 0.8);
    
}

@media  screen and (max-width: 720px) {
    .main-box{
        width: 95%;
    }
    .child-box{
        flex-direction: column-reverse;
        /* direction: ; */
    }
    .image>img{
        width: 80vw;
        height: 40vh;
    }
    .form-group{
        width: 100%;
    }

    
}
