
@font-face {
    font-family: gilroy;
    src: url("/fonts/Assistant-Regular.ttf");
  }
  @font-face {
    font-family: gilroy-b;
    src: url("/fonts/Assistant-Bold.ttf");
  }
  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
.terms-page{
    width: 100%;
    /* background-color: red; */
}
.termsBox {
    padding: 5vmax 4vmax;
    text-align: justify;
  }.termsBox>h1{
 font-family: gilroy-b;
 margin-top: 2vmax;
  }
  .termsBox>h2{
    font-family: gilroy-b;
    margin-top: 2vmax;
  }
  .termsBox>p{
    font-family: gilroy;
    margin-top: 1vmax;
  }